<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Demande d'emprunt</title>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


        <style>
          #navListesMarque  {
            color: rgba(185, 204, 220, 0.8);
            background: rgba(185, 204, 220, 0.1);
          }
        </style>

    </head>

    <body>

      {% include 'css.html.twig' %}
      {% include 'nav-save.html' %}


    <div class="cont">

    	<h1 class="text-primary">{{message}}</h1>

    	<table class="table table-striped table-hover">
          <tr>
              <td style="border-left: 2px solid #cdd0d4;border-bottom: 1px solid #cdd0d4;"><b>Nom</td>
              <td><b>Prénom</td>
              <td><b>Formation</td>
              <td style="border-left: 1px solid #cdd0d4;border-bottom: 1px solid #cdd0d4;"><b>Matériel </td>
              <td><b>Marque</td>
              <td><b>Etat </td>
              <td><b>Date</td>
              <td><b>Action</b></td>
              <td></td>

          </tr>
    		{% for Tab in listeDemande %}
    			<tr>
    				<td style="border-left: 2px solid #cdd0d4;border-bottom: 1px solid #cdd0d4;">{{Tab.idUser.nom}}</td>
            <td>{{Tab.idUser.prenom}}</td>
            <td>{{Tab.idUser.Formation}}</td>
            <td style="border-left: 1px solid #cdd0d4;border-bottom: 1px solid #cdd0d4;">{{Tab.idMateriel.description}}</td>
            <td>{{Tab.idMateriel.Marque.libelle}}</td>
            <td>{{Tab.idMateriel.Etat.libelle}}</td>
            <td>{{Tab.date_demande|date("d/m/Y")}}</td>
            <td>



                                 <form  action="{{ path('effacerMarque', {id: Tab.id}) }}" >
                                   <button  class="btn btn-danger"><i class="far fa-check-circle"></i></button>
                                 </form>

</td>
<td>

                                 <form  action="{{ path('refuser', {id: Tab.id}) }}" >
                                   <button  class="btn btn-info"><i class="fas fa-times"></i></button>
                                 </form>
              </td>







          </tr>
    		{% endfor %}

    	</table>


    </div>
    </body>
</html>
