<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>coucou</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script  src="js/commun.js" ></script>
    <style type="text/css">
      .cont{
        padding-left: 20em;
        padding-right: 6em;

      }


    </style>
    </head>
    <body>
    <div class="cont">

    {% include 'nav.html' %}
    <style>
      #navListesMembre  {
        color: rgba(185, 204, 220, 0.8);
        background: rgba(185, 204, 220, 0.1);
      }
    </style>
    	<h1 class="text-primary">{{message}}</h1>

    	<table class="table table-striped table-hover">
          <tr>
            <td style="border-left: 1px solid #cdd0d4;border-bottom: 1px solid #cdd0d4; "> <b>ID</b></td>
            <td><b>Email</b></td>
            <td><b>Nom</b></td>
            <td><b>Prenom</b></td>
            <td><b>Formation</b></td>
            <td><b>Username</b></td>

            <td style="border-right: 1px solid #cdd0d4;border-bottom: 1px solid #cdd0d4;"> </td>
          </tr>
    		{% for Tab in listeMembres %}
    			<tr>
            <td style="border-left: 1px solid #cdd0d4;border-bottom: 1px solid #cdd0d4;">{{Tab.id}}</td>
            <td>{{Tab.email}} </td>
            <td>{{Tab.Nom}} </td>
            <td>{{Tab.Prenom}} </td>
            <td>{{Tab.Formation}} </td>
            <td>{{Tab.username}} </td>


            <td style="border-right: 1px solid #cdd0d4;border-bottom: 1px solid #cdd0d4;">
                     <div class="dropdown">

                         <i data-toggle="dropdown" class="glyphicon glyphicon-cog"></i>

                            <div class="dropdown-menu">

                               <a class="dropdown-item">
                                 <form  action="{{ path('effacerMembres', {idMembres: Tab.id}) }}" >
                                   <button  class="btn btn-danger"><i class="fas fa-trash-alt"></i>  Supprimer</button>
                                 </form>
                               </a>
                        </div>

            </td>



        </tr>
    		{% endfor %}



    	</table>

      	<script type="text/javascript">







          function modif(id)
          {

            console.log(id);
             location.href = "https://kroko.ovh/~soares/TestSymfony/public/index.php/modifMem/"+id;

          }


        </script>
</div>
    </body>
</html>
