<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>test</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- AJAX -->
        <script>
                    $(document).ready(function(){
                    	load_data();

                      function load_data(recherche,marque,categ)
                    	{

                        $.ajax({
                          type: "POST",
                          url: "{{ path('RechercheAjax')}}",
                          data:{"Recherche":recherche,
                                "Marque":marque,
                                "Categorie":categ
                               },
                          success:function(data)
                          {
                            console.log(data);
                            $('#output').html(data.output);
                            $('#tab2').html(data.tab);
                          }
                        });
                    	}

                      function recupValeurs(){
                        var valeurRecherche = $("#form_Rechercher").val();
                        var valeurMarque = $("#form_Marque").val(); // on récupère la value de l'option selectionnée
                        var valeurCategorie = $("#form_Categorie").val();

                        if(!($.isNumeric(valeurMarque)))
                         valeurMarque = "-1";

                        if(!($.isNumeric(valeurCategorie)))
                         valeurCategorie = "-1";

                        load_data(valeurRecherche,valeurMarque,valeurCategorie);

                      }

                      $('#form_Rechercher').keyup(function(){
                        recupValeurs();
                    	});

                      $(".form-control").change(function(){
                        recupValeurs();
                      });

                    });
        </script>

        <!-- gestion boutons -->


    </head>
    <style>
      #navListesMateriel  {
        color: rgba(185, 204, 220, 0.8);
        background: rgba(185, 204, 220, 0.1);
      }

    </style>
    </head>
    <body>

      {% include 'css.html.twig' %}
      {% include 'nav-save.html' %}

    <div class="cont">
        <br>
        <h1 class="text-primary">{{message}}</h1>
        <br>
         {% for message in app.flashes('success')%}
            <div class="alert alert-success">
                {{message}}
            </div>

         {% endfor%}
       <div class="panel panel-default">
         <div class="panel-body">
           <h2>Filtres</h2>
           <br>

           {{ form(formulaire) }}

        </div>
       </div>
      <br>
      <div id="tab2">
      <table class="table table-striped table-hover">
        <tr>
          <td style="border-left: 1px solid #cdd0d4;border-bottom: 1px solid #cdd0d4; "> <b>ID</b></td>
          <td><b>Catégorie</b></td>
          <td><b>Marque</b></td>
          <td><b>Description</b></td>
          <td><b>état</b></td>
      
        {% for Materiel in listeMateriel %}
          <tr>
            <td style="border-left: 1px solid #cdd0d4;border-bottom: 1px solid #cdd0d4;"> {{Materiel.id}} </td>
    				<td>{{Materiel.categorie.nomcat}} </td>
            <td>{{Materiel.marque.libelle}} </td>
            <td>{{Materiel.description}} </td>
            <td>{{Materiel.etat.libelle}} </td>




            </tr>
        {% endfor %}
      </table>
      </div>
    </body>
</html>
