<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>coucou</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </head>
    <body class="container">

    {% include 'nav.html' %}

    	<h1 class="text-primary">Liste</h1>
    	{{message}}
    	<table class="table table-striped table-hover">
    		{% for Materiel in listeMateriel %}
    			<tr>
    				<td>{{Materiel.id}} </td>
    				<td>{{Materiel.description}} </td>
            <td>{{Materiel.Etat}} </td>
            <td>  <button onclick="effacer({{Materiel.id}})" type="button" class="btn btn-danger">Effacer</button></td>
            <td>  <button onclick="modif({{Materiel.id}})" type="button" class="btn btn-secondary">Modifier</button></td>
            {% if Materiel.statutemprunt == false %}
              <td>  <button onclick="emprunter({{Materiel.id}})" type="button" class="btn btn-info">Emprunter</button></td>
            {% else %}
              <td>  <button type="button" class="btn btn-info disabled">Emprunter</button></td>
            {% endif %}
          </tr>
    		{% endfor %}



    	</table>

      	<script type="text/javascript">
          function effacer(id)
          {
            console.log(id);
              var url = "{{path('effacerMateriel', {idMateriel: ':idJ'})}}";
              url = url.replace(":idJ",id);
              $.post(
                url,
                traiterRepJ1
              );

            location.href = "https://kroko.ovh/~soares/TestSymfony/public/index.php/listeMateriel";
          }

          function modif(id)
          {
            console.log(id);
              var url = "{{path('modifMat', {idMat: ':idJ'})}}";
              url = url.replace(":idJ",id);

              location.href = url;

          }

          function emprunter(id)
          {
            console.log(id);
            var url = "{{path('CreerNouveauEmprunt', {idMat: ':idJ'})}}";
            url = url.replace(":idJ",id);

            location.href = url;

          }

          function traiterRepJ1(donnees)
          {
            console.log(donnees);
          }
        </script>

    </body>
</html>
